<div class="help-headlines">
  <p class="headline-title text-center mb-0">We Are Here To Help</p>
  <p class="headline-text text-center mb-0">
    Slide into our DMs, give us a call, hit us up below, chat or check our FAQ for quick fixes.
    <span>We've got your back!</span>
  </p>
</div>

<div class="help-methods-container d-flex align-items-start align-items-lg-center justify-content-center">
  <div class="help-method-container">
    <a href="tel:+910000000000" class="help-method">
      <span class="help-method-icon-container">
        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42" fill="none">
          <path d="M40.1029 32.6377L33.9257 26.4457C32.6955 25.2176 30.6577 25.2552 29.3844 26.5314L26.2725 29.6504C26.076 29.5413 25.8725 29.4279 25.6584 29.3076C23.6933 28.2163 21.0034 26.7204 18.1727 23.8813C15.334 21.0364 13.8396 18.3361 12.7478 16.3651C12.6319 16.1561 12.5217 15.955 12.4129 15.7639L14.5016 13.6732L15.5283 12.6428C16.8038 11.3644 16.8391 9.3226 15.611 8.09113L9.4337 1.89839C8.2064 0.66831 6.16782 0.705711 4.89235 1.98408L3.15131 3.73896L3.19929 3.78645C2.61565 4.53289 2.12738 5.3941 1.76488 6.3226C1.43002 7.20637 1.22152 8.04997 1.12615 8.89476C0.310722 15.6725 3.40068 21.8664 11.7868 30.2723C23.3788 41.8898 32.7209 41.0124 33.1237 40.9692C34.0021 40.8643 34.8428 40.654 35.6979 40.3211C36.6164 39.9614 37.4751 39.4734 38.2191 38.8898L38.2572 38.9231L40.0209 37.1921C41.2936 35.914 41.3304 33.8721 40.1029 32.6377ZM38.6487 35.8156L37.8714 36.5933L37.5618 36.8915C37.0743 37.3639 36.2304 38.0274 34.9982 38.5105C34.2987 38.7804 33.609 38.9537 32.9073 39.0374C32.8191 39.0459 24.0323 39.7973 13.1574 28.8986C3.91087 19.6314 2.42907 14.2914 3.05022 9.11936C3.12801 8.43388 3.29959 7.74404 3.57384 7.02312C4.05994 5.78097 4.72137 4.93599 5.1891 4.44661L6.26378 3.35881C6.78167 2.83836 7.5894 2.79859 8.06286 3.27313L14.24 9.46429C14.7127 9.93942 14.6754 10.749 14.1567 11.271L9.98496 15.4481L10.37 16.0975C10.584 16.4595 10.8103 16.8651 11.0519 17.3058C12.1995 19.3801 13.7695 22.2194 16.8016 25.2556C19.8258 28.2883 22.6546 29.8605 24.7178 31.0077C25.1637 31.2548 25.5708 31.4822 25.936 31.7003L26.5854 32.0862L30.7544 27.9064C31.2745 27.3873 32.085 27.3489 32.5584 27.8221L38.7328 34.0118C39.2049 34.4862 39.1674 35.2957 38.6487 35.8156Z" fill="#C9B541" stroke="#C9B541" stroke-width="0.5"/>
        </svg>
      </span>
      <div class="help-method-details">
        <p class="help-method-title mb-0">Just A Call Away</p>
        <p class="help-method-time mb-0">Monday - Friday, 10:00 to 5 PM</p>
      </div>
    </a>
  </div>
  <div class="help-method-container">
    <a href="https://wa.me/+918287215192" target="_blank" class="help-method">
      <span class="help-method-icon-container">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
          <path d="M0 40L2.82509 29.7283C1.08181 26.7217 0.165787 23.3133 0.167462 19.8183C0.172486 8.89167 9.10659 0 20.0837 0C25.4107 0.00166667 30.4111 2.06667 34.1723 5.81333C37.9318 9.56 40.0017 14.54 40 19.8367C39.995 30.765 31.0609 39.6567 20.0837 39.6567C16.7512 39.655 13.4673 38.8233 10.5585 37.2433L0 40ZM11.0475 33.655C13.8541 35.3133 16.5335 36.3067 20.077 36.3083C29.2004 36.3083 36.6323 28.9183 36.6374 19.8333C36.6407 10.73 29.2439 3.35 20.0904 3.34667C10.9604 3.34667 3.53345 10.7367 3.5301 19.82C3.52843 23.5283 4.62028 26.305 6.45399 29.21L4.78104 35.29L11.0475 33.655ZM30.1164 24.5483C29.9925 24.3417 29.6609 24.2183 29.1619 23.97C28.6645 23.7217 26.2179 22.5233 25.7607 22.3583C25.3052 22.1933 24.9736 22.11 24.6404 22.6067C24.3088 23.1017 23.3543 24.2183 23.0646 24.5483C22.7748 24.8783 22.4835 24.92 21.9861 24.6717C21.4887 24.4233 19.8844 23.9017 17.9838 22.2133C16.5051 20.9 15.5053 19.2783 15.2156 18.7817C14.9259 18.2867 15.1855 18.0183 15.4333 17.7717C15.6577 17.55 15.9307 17.1933 16.1802 16.9033C16.4331 16.6167 16.5151 16.41 16.6826 16.0783C16.8484 15.7483 16.7663 15.4583 16.6407 15.21C16.5151 14.9633 15.5204 12.525 15.1068 11.5333C14.7015 10.5683 14.2912 10.6983 13.9864 10.6833L13.0319 10.6667C12.7003 10.6667 12.1611 10.79 11.7056 11.2867C11.2501 11.7833 9.96399 12.98 9.96399 15.4183C9.96399 17.8567 11.7475 20.2117 11.9953 20.5417C12.2448 20.8717 15.5036 25.875 20.4957 28.02C21.683 28.53 22.6107 28.835 23.3325 29.0633C24.5248 29.44 25.61 29.3867 26.4674 29.26C27.4236 29.1183 29.4114 28.0617 29.8267 26.905C30.242 25.7467 30.242 24.755 30.1164 24.5483Z" fill="#ABE2C7"/>
        </svg>
      </span>
      <div class="help-method-details">
        <p class="help-method-title mb-0">Ping Us On Whatsapp</p>
        <p class="help-method-time mb-0">Monday - Friday, 10:00 to 5 PM</p>
      </div>
    </a>
  </div>
  <div class="help-method-container">
    <a href="mailto:support@hokmakeup.com" class="help-method">
      <span class="help-method-icon-container">
        <svg xmlns="http://www.w3.org/2000/svg" width="43" height="32" viewBox="0 0 43 32" fill="none">
          <path d="M3.76422 5.37315L4.16144 5.66257L20.621 17.6553C20.6208 17.6551 20.6207 17.6551 20.6211 17.6553C20.622 17.6559 20.625 17.6577 20.6321 17.6616C20.6331 17.6622 20.6343 17.6628 20.6357 17.6636C20.6448 17.6687 20.6622 17.6783 20.6789 17.6889M3.76422 5.37315L21.1173 17.8859C21.1091 17.8836 21.1019 17.8819 21.0965 17.8807L21.0841 17.8781C21.0834 17.8779 21.0828 17.8778 21.0823 17.8777M3.76422 5.37315V5.86462V5.37315ZM20.6789 17.6889C20.679 17.6889 20.6791 17.689 20.6792 17.689L20.545 17.9L20.6787 17.6887C20.6788 17.6887 20.6788 17.6888 20.6789 17.6889ZM20.6789 17.6889C20.6985 17.7013 20.7192 17.7135 20.7407 17.7257L20.7435 17.7273C20.8574 17.7938 20.9703 17.8447 21.0813 17.8774L21.0823 17.8777M21.0823 17.8777C21.0819 17.8776 21.0815 17.8775 21.0813 17.8774C21.0796 17.877 21.0824 17.8776 21.0864 17.8789L21.0864 17.8789L21.0823 17.8777ZM4.01422 5.86462V6.17394L3.867 6.06668L4.01422 5.86462ZM4.01422 5.86462L4.26422 6.04678V5.86462H4.01422ZM38.9853 5.86462L38.7353 6.04678V5.86462H38.9853ZM38.9853 5.86462V6.17394L39.1325 6.06668L38.9853 5.86462ZM21.9183 17.8773L21.9183 17.8774C22.029 17.8448 22.1414 17.7939 22.2565 17.727L22.2589 17.7257L22.2589 17.7257C22.2804 17.7135 22.3012 17.7011 22.3209 17.6887L22.4545 17.9L22.3204 17.689C22.3371 17.6784 22.3547 17.6687 22.3639 17.6636C22.3653 17.6628 22.3664 17.6622 22.3674 17.6616C22.3746 17.6577 22.3775 17.6559 22.3784 17.6553L22.3758 17.6572L22.523 17.8593L22.3785 17.6553L21.9183 17.8773ZM21.9183 17.8773L21.9168 17.8778L21.9183 17.8773ZM34.8823 3.95808L35.5014 3.50616H34.7349H8.26351H7.49704L8.1161 3.95808L21.3518 13.6202L21.4992 13.7278L21.6466 13.6202L34.8823 3.95808ZM21.8818 17.886C21.8817 17.886 21.8817 17.886 21.8817 17.886L21.9473 18.1272L21.8818 17.886ZM5.78057 0.25H37.2179C39.8536 0.25 42.0498 2.69079 42.0492 5.75815V26.2424C42.0492 29.3092 39.8531 31.75 37.2179 31.75H5.78057C3.14535 31.75 0.949219 29.3092 0.949219 26.2424V5.75757C0.949219 2.69079 3.14535 0.25 5.78057 0.25Z" fill="#F294B7" stroke="white" stroke-width="0.5"/>
        </svg>
      </span>
      <div class="help-method-details">
        <p class="help-method-title mb-0">Connect Via Email</p>
        <p class="help-method-time mb-0">support@hokmakeup.com</p>
      </div>
    </a>
  </div>
  <div class="help-method-container">
    <button class="bg-transparent border-0 help-method message-form-open">
      <span class="help-method-icon-container">
        <svg xmlns="http://www.w3.org/2000/svg" width="43" height="44" viewBox="0 0 43 44" fill="none">
          <path d="M41.5 2L1.5 15.3333L20.6666 22.8334M41.5 2L28.1666 42L20.6666 22.8334M41.5 2L20.6666 22.8334" stroke="#8F93DF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </span>
      <div class="help-method-details">
        <p class="help-method-title mb-0">Send Us Message</p>
        <p class="help-method-time mb-0">We'll get back to you asap</p>
      </div>
    </button>
  </div>
</div>

<div class="help-message-form-container">
  {% form 'contact', class: 'news-form help-message-form d-flex flex-column align-items-start' %}
    {% if form.posted_successfully? %}
      <div class="form-success-container text-center  mx-auto">
        <div class="form-success-icon-container">
          <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44" fill="none">
            <g clip-path="url(#clip0_2724_39663)">
              <path d="M22 44C9.86941 44 0 34.1306 0 22C0 9.86941 9.86941 0 22 0C34.1306 0 44 9.86941 44 22C44 34.1306 34.1306 44 22 44Z" fill="#A3CC7A"/>
              <path d="M17.8506 29C17.5488 29 17.2469 28.8873 17.0169 28.6619L11.3201 23.238C10.8595 22.7876 10.9285 22.0801 11.3201 21.6064C11.7556 21.0796 12.5275 21.1556 12.9875 21.6064L17.8506 26.2142L29.9872 14.3381C30.4472 13.8873 31.1945 13.8873 31.6545 14.3381C32.1152 14.7885 32.1152 15.5192 31.6545 15.9697L18.6842 28.6619C18.4542 28.8873 18.1523 29 17.8506 29Z" fill="white" stroke="white"/>
            </g>
            <defs>
              <clipPath id="clip0_2724_39663">
                <rect width="44" height="44" fill="white"/>
              </clipPath>
            </defs>
          </svg>
        </div>
        <p class="success-main-text mb-0">Your request was sent!</p>
        <p class="success-sub-text mb-0">We will reach out to you via email soon.</p>
      </div>

    {% else %}
      {% if form.errors %}
        <div class="form-error-container">
          {% comment %} <p class="error-main-text mb-0"></p> {% endcomment %}
          <p class="error-sub-text mb-0">Some Error! Please Try Again After Some Time.</p>
        </div>
      {% endif %}

      <button class="help-message-close-btn border-0 bg-transparent align-self-end">
        <img
          src="https://cdn.shopify.com/s/files/1/0673/6396/3172/files/close.svg?v=1696318785"
          alt="close-btn"
          class="img-fluid"
        >
      </button>

      <input type="hidden" name="contact[tags]" value="message">

      <input type="text" class="message-username" placeholder="Name" required>
      <input type="text" class="message-email" placeholder="Email" name="contact[email]" required>
      <div class="message-mobile-container d-flex ">
        <select name="" id="" class="message-phone-code">
          <option value="+91">+19</option>
          <option value="+11">+11</option>
          <option value="+61">+61</option>
          <option value="+01">+01</option>
          <option value="+92">+92</option>
        </select>
        <input type="text" class="message-phone" inputmode="numeric" placeholder="Phone No." name="contact[phone]">
      </div>
      <textarea
        name=""
        id=""
        rows="5"
        class="message-textarea"
        placeholder="Message"
        name="contact[message]"
      ></textarea>
      <button type="submit" class="message-send-btn border-0">send message</button>
    {% endif %}
  {% endform %}
</div>
