<div class="menus mobile-screen overflow-auto">
    <ul class="d_cent">

        <li class="list-inline-item">
            <a href="/">New In</a>
        </li>
        <li class="list-inline-item">
            <a href="/">BRANDS</a>
        </li>
        <li class="list-inline-item">
            <a href="/collections/makeup">MAKEUP</a>
        </li>
        <li class="list-inline-item">
            <a href="/">SKIN</a>
        </li>
        <li class="list-inline-item">
            <a href="/">VALUE SETS</a>
        </li>
        <li class="list-inline-item">
            <a href="/">HAIR</a>
        </li>
        <li class="list-inline-item">
            <a href="/">New In</a>
        </li>
        <li class="list-inline-item">
            <a href="/">BRANDS</a>
        </li>
        <li class="list-inline-item">
            <a href="/">MAKEUP</a>
        </li>
        {% comment %} {% for block in section.blocks %}
        {% endfor %} {% endcomment %}
    </ul>
</div>
<style></style>