<section>
  <div class="about-banner-container">
    <video muted autoplay loop class="d-sm-none w-100">
      <source src="https://cdn.shopify.com/videos/c/o/v/9a12be6ea57843788c49fae57f242832.mp4" type="video/mp4">
    </video>
    <video muted autoplay loop class="d-none d-sm-block w-100">
      <source
        src="https://cdn.shopify.com/videos/c/vp/b6f4b810df3845cf94a6a5ae116b3c62/b6f4b810df3845cf94a6a5ae116b3c62.HD-720p-4.5Mbps-18882035.mp4"
        type="video/mp4"
      >
    </video>
  </div>
  <div class="container about-main-container">
    <div class="about-section row section-one ">
      <div class="col-12 col-md-4 p-0 order-1 order-md-0 mt-auto">
        <video muted autoplay loop class="w-100 section-one-video">
          <source src="https://cdn.shopify.com/videos/c/o/v/7f8b90dc3d604deabf62f3b42a9ebcc1.mp4" type="video/mp4">
        </video>
      </div>
      <div class="col-12 col-md-8 about-text-section order-0 order-md-1">
        <p class="about-text mb-0">
          The name "Hey!" encapsulates our vision of inclusivity & approachability. It's an invitation for everyone to 
          say <span class="about-bold-text">"Hey!"</span> & roll into the world of globally popular beauty brands at
          affordable prices.
        </p>
        <p class="about-heading mb-0">Beauty is for all so why restrict it to borders?</p>
      </div>
      <p class="mb-0 brand-vertical-text">HEY!</p>
    </div>

    <div class="about-section row section-two ">
      <div class="col-12 col-md-8 about-text-section">
        <p class="about-section-title mb-0">For you, With Love</p>
        <p class="about-text mb-0">
          Hey! Makeup celebrates the vibe of being gorgeously you.<br>
          We are here to embrace confidence, individuality, and the belief that
        </p>
        <p class="about-bold-text mb-0">beauty is for every "Hey!" that graces this world.</p>
      </div>
      <div class="col-12 col-md-4 p-0">
        <img
          src="https://cdn.shopify.com/s/files/1/0673/6396/3172/files/VIBE_IMAGES_1.svg?v=1697613553"
          alt=""
          class="img-fluid"
          loading="lazy"
        >
      </div>
      <p class="brand-vertical-text mb-0">Vibe</p>
    </div>

    <div class="about-section row">
      <div class="col-12 p-0">
        <video muted autoplay loop class="d-sm-none w-100">
          <source src="https://cdn.shopify.com/videos/c/o/v/94ea9c7543c34daaae9b95c801a1adf7.mp4" type="video/mp4">
        </video>
        <video muted autoplay loop class="d-none d-sm-block w-100">
          <source
            src="https://cdn.shopify.com/videos/c/vp/b6f4b810df3845cf94a6a5ae116b3c62/b6f4b810df3845cf94a6a5ae116b3c62.HD-720p-4.5Mbps-18882035.mp4"
            type="video/mp4"
          >
        </video>
      </div>
    </div>

    <div class="about-section row section-four">
      <div class="col-12 about-text-section">
        <p class="about-section-title mb-0">Defying Boundaries & Norms</p>
        <p class="about-text mb-0">
          We envision to become the synonym to Makeup, skincare and wellness for the trend forward and expressive
          individuals.
        </p>
        <p class="about-text mb-0">
          We host globally renowned beauty brands known for setting trends and leading innovation in the industry. Our
          goal is to introduce them to the Indian market & reduce the hassle to bag your favorite international brands
          <span class="about-bold-text">because why pay customs when you can buy it all here?</span>
        </p>
        <p class="about-text mb-0">
          And you can bet on us for the real deal as we source all our products straight from the brands. We are
          basically the <span class="about-bold-text">OGs sharing global trends and beauty secrets with everyone.</span>
        </p>
      </div>
      <div class="col-12 p-0">
        <img
          src="https://cdn.shopify.com/s/files/1/0673/6396/3172/files/vision_image.svg?v=1697608686"
          alt="hey"
          class="img-fluid d-none d-sm-block"
        >
        <img
          src="https://cdn.shopify.com/s/files/1/0673/6396/3172/files/VISION_IMAGE_1.svg?v=1697716092"
          alt="hey"
          class="img-fluid d-sm-none"
        >
      </div>
      <p class="brand-vertical-text mb-0">Vision</p>
    </div>

    <div class="about-section row section-five">
      <div class="col-12 about-text-section">
        <p class="about-section-title mb-0">At Hey! We Value you</p>
        <p class="about-text mb-0">
          We're all about keeping our promises to our customers & putting them at the forefront of everything we're
          about.
        </p>
        <p class="about-text mb-0">
          At Hey! we celebrate your love and passion for beauty and trends by
          <span class="about-bold-text"
            >ensuring a hassle-free shopping experience, seamless support interactions, and quicker deliveries,</span
          >
          because why should you wait longer?
        </p>
        <p class="about-text mb-0">
          we are the sole distributors of international beauty brands to Mega e-commerce platforms. We also offer an
          <span class="about-bold-text">exclusive range of products, brands, and trends available ONLY at hey!</span>
          for the trendsetter within you, keeping you one step ahead of the game. “Our token of love for you!”F
        </p>
      </div>
      <p class="brand-vertical-text mb-0">#Love</p>
    </div>

    <div class="about-section row slider-section">
      <div class="col-12 position-relative">
        <div class="swiper about-slider">
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              <div class="slider-card swiper-slide">
                <img src="{{block.settings.aboutcardimage |  image_url }}" alt="about-brand">
              </div>
            {% endfor %}

            {% comment %}
              <div class="slider-card swiper-slide">
                <div class="card-img">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0673/6396/3172/files/kanvar-logo.png?v=1697630120"
                    alt=""
                    class="img-fluid"
                  >
                </div>
                <div class="card-body d-flex flex-column">
                  <p class="brand-date mb-0">2010</p>
                  <p class="brand-title mb-0">Kanvar Group: Setting the Foundation for Tomorrow</p>
                  <p class="brand-ceo mb-0">by Mr. nikhil bhatia</p>
                  <p class="brand-text mb-0">
                    a multi-brand, multi-category, multi channel, mass beauty innovator with proven global scale.
                  </p>
                </div>
              </div>
            {% endcomment %}
          </div>
        </div>
        <div class="about-slide-pagenation"></div>
        <div class="about-slide-next-btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
            <path d="M9.42817 5.50977L17.918 13.9996L9.42817 22.4894" stroke="white" stroke-width="2" stroke-linecap="round"/>
          </svg>
        </div>
        <div class="about-slide-prev-btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
            <path d="M18.5718 5.50977L10.082 13.9996L18.5718 22.4894" stroke="white" stroke-width="2" stroke-linecap="round"/>
          </svg>
        </div>
      </div>
    </div>
  </div>

</section>
<script>
  let aboutSlider = new Swiper('.about-slider', {
    slidesPerView: 4.1,
    spaceBetween: 8,
    direction: "horizontal",
    pagination: {
      el: '.about-slide-pagenation',
      type: 'fraction',
    },
    navigation: {
      nextEl: '.about-slide-next-btn',
      prevEl: '.about-slide-prev-btn',
    },
    breakpoints: {
      0: {
        slidesPerView: 1,
      },
      576: {
        slidesPerView: 2.8,
      },
      992: {
        slidesPerView: 3.2,
      },
      1192: {
        slidesPerView: 4.2,
      },
    },
  });

</script>

{% schema %}
{
  "name": "About Us",
  "settings": [
    {
      "type": "image_picker",
      "id": "aboutusbannerimage",
      "label": "Add Banner Here Image"
    }
  ],
  "blocks": [
    {
      "name": "Image Card",
      "type": "image_picker",
      "settings": [
        {
          "type": "image_picker",
          "id": "aboutcardimage",
          "label": "Add Your Card Image"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "About Us"
    }
  ]
}
{% endschema %}
