<section class="container d-flex flex-column align-items-center justify-content-center">
  <div class="error-container d-flex flex-column align-items-center justify-content-center">
    <div class="image-container">
      <img src="https://cdn.shopify.com/s/files/1/0673/6396/3172/files/error.gif?v=1697271262" alt="404" class="img-fluid">
    </div>
    <p class="error-text text-center text-capitalize">Sorry, It's not you. it's us</p>
    <p class="error-message text-center">Whoops... Looks like you took a wrong turn! Don't worry we're here.</p>
    <a href="/" class="homepage-btn text-center text-uppercase">homepage</a>
  </div>
</section>